

body {
    min-height: 100vh;
    background-color:  rgb(14,33,121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 30px;
}

img {
    float: right;
    margin-top: 100px;
}