body {
    background-color:  rgb(14,33,121);
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}