

body {
    min-height: 100vh;
    background-color:  rgb(14,33,121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 20px;
    text-align: justify;
    margin-left: 20px;
}

#image1 {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}